body {
    background-image: url(https://i.pinimg.com/originals/f2/25/f0/f225f0da5b621b872f6513d59f89a9b6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
}

h1 {
  color:powderblue;
}

img {
  height: 240px;
  width: 400px;
}

#thirdDiv {
  width: 400px;
  height: 500px;
  background-color: floralwhite;
  padding: 50px;
  border: 5px solid black;
}

#spanId {
  font-size: 18px;
  margin: 50px;
}

.divClass {
  width: 500px;
  height: 150px;

}